*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: #014046;
    padding-top: 70px;
}
main>h1{
    text-align: center;
}

.editBox {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.editBox i{
    color: black;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 25px;
    width: 500px;
    background: #000;
    padding-top: 40px;
    display: none;
    z-index: 99;
}

.cross{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items:center ;
    justify-content: center;
    background: red;
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: pointer;
}



form label{
    font-size: 17px;
    font-weight: 700;
}

form input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    padding-left: 15px;
    color: black;
}

form textarea{
    width: 100%;
    height: 100px;
    outline: none;
    padding-left: 15px;
    color: black;
}
form button{
    padding: 10px 20px;
    background: #103777;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
}

.cardParent{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 40px;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    /* background: white; */
}

.card{
    background: #21001a;
    width: 650px;
    padding: 15px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.categ{
    position: absolute;
    top: 2%;
    right: 2%;
}